.quiz-info-bubble {
    position:fixed;
    bottom:10px; right:10px;
    background:#9fd8c8;
    color:#000;
    padding:10px;
    border-radius:8px;
    width:200px;
    font-size:14px;
    img {
      width:15px; height:15px; margin-right:5px;
      vertical-align:middle;
    }
  }
  